{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}
    第三方平台
{% endblock %}


{% block body %}

<!-- 按钮和搜索框 -->
    <br>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a class="btn btn-primary btn-xs" href="/merchandise/add/">新建</a>
            <a class="btn btn-primary btn-xs" href="/merchandise/mutiladd/">批量添加（Excel</a>
        </div>
        <div class="col-md-4">
            <form class="d-flex" action="" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="商品uid" name="uuid">
                    <input type="text" class="form-control" placeholder="商品标题" name="title">
                    <button type="submit" class="btn btn-secondary">嗖嗖</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive"> <!-- 添加响应式类，以适应移动端 -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">商品uid</th>
                    <th scope="col">平台</th>
                    <th scope="col">商品链接</th>
                    <th scope="col">商品标题</th>
                    <th scope="col">进价/个</th>
                    <th scope="col">出价/个</th>
                    <th scope="col">最低出货数量</th>
                    <th scope="col">邮费</th>
                </tr>
            </thead>
            <tbody>
                {% for m in form %}
                    <tr>
                        <td>{{ m.uuid }}</td>
                        <td>{{ m.platform }}</td>
                        <td><a href="{{ m.url }}" class="btn btn-link"><span class="fs-4">🔗</span></a></td>
                        <td><a href="{% url 'merchandise_wiki_view' m.id %}">{{ m.title }}👀</a></td>
                        <td>{{ m.input_price }}</td>
                        <td>{{ m.output_price }}</td>
                        <td>{{ m.min_amount  }}</td>
                        <td>{{ m.postage  }}</td>

                        <td class="text-end"> <!-- 使用 text-end 类使内容右对齐 -->
                            <a class="btn btn-primary btn-xs me-1" href="/merchandise/edit/{{ m.id }}">编辑</a>
                            <a class="btn btn-primary btn-xs" href="/merchandise/delete/{{ m.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {{ page_string|safe }}
    </div>


{% endblock %}